nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
nav span{
    margin-right: 300px;
}
.logo{
    width: 80px;
    margin-top: 9px;
}
nav ul li{ 
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 13px;
}
.btn{
    background: #fff;
    color: #121212;
    padding: 14px 25px;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.btn:hover{
    background: #121212;
    color: #fff
}
.dark-nav{
    background: #212ea0;
    transition: 0.5s;
    opacity: 0.8;
}